<p>
  <span class="icon"><img src="/img/html5.png" alt="HTML5"></span>
  This is main content (version: <%= version %>).
</p>
<p class="important">This is IMPORTANT text.</p>
<a href="pages/page-1.html">link to page 1</a>
